.list {
    margin: 15px;
    list-style: square;
}

.name {
    
    margin-right: 10px;
}

.number {
    color: orangered;
    margin-right: 10px;
    font-size: 0.9em;
}

.listItem:not(:last-child) {
    margin-bottom: 5px;
}

.button {
    background-color: #ffffff;
    background-color: gray;
    color: #ffffff;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color:orangered;
  
}